a {
	text-decoration: none;
}

h1,
h2,
h4 {
	font-weight: lighter;
}

#hero-banner {
	background-image: url('assets/images/banner-background.jpg');
	background-size: cover;
}

#header {
	height: 90px;
	padding: 0 20px;
}

body {
	margin: 0;
}

section {
	text-align: center;
}

#hero-banner a {
	color: white;
}

#header .home-link {
	float: left;
	padding-top: 10px;
}

#header #nav {
	float: right;
}

#header #nav ul li {
	display: inline-block;
	margin: 0 5px;
	font-size: 20px;
}

#hero-banner #banner-text {
	padding: 100px 0;
	color: white;
	font-weight: lighter;
}

#hero-banner #banner-text h1 {
	font-size: 50px;
	font-weight: lighter;
}

#hero-banner #banner-text h3 {
	font-size: 25px;
	font-weight: lighter;
}

#hero-banner #banner-text a {
	font-size: 25px;
	border: 1px solid white;
	padding: 10px 15px;
	border-radius: 10px;
}

#section-one {
	overflow: auto;
	background-color: #d5d5d5;
	color: #333;
	padding: 30px 20px;
}

#section-one .col {
	width: 33.33%;
	float: left;
	margin-top: 30px;
}

#section-one .col .image-wrapper {
	width: 100px;
	height: 100px;
	border: 1px solid #000000;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
}

#section-one .col i {
	font-size: 50px;
	margin: 0 auto;
	line-height: 102px;
}

#section-two {
	overflow: auto;
	color: white;
	background-color: #393f43;
	padding: 30px 20px;
}

#section-two .container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#section-two .col {
	padding: 5px;
	width: 33%;
}

#section-two .col .col-image {
	width: 100%;
}

.posts-table {
	border: 1px solid black;
	width: 100%;
}

.posts-table td {
	background: white;
}

.animated:hover {
	transition: transform .2s;
  	transform: scale(1.05)
}

.image {
	position: relative;
}

.image .title {
	position: absolute;
	padding: 2px 6px;
	margin: 4px;

	background-color: white;
	color: black;
	
	font-family: arial;

	opacity: 0.6;
}

.container a {
	color: white;
	padding: 10px;
	border: 1px solid white;
	border-radius: 10px;
}

.col label {
	display: block;
	margin: 10px; 0;
}